html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PingFang TC", "Noto Sans TC", "Microsoft JhengHei", "Microsoft YaHei",  "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

#app-body {
  height: inherit;
  background: #DEDEDE;
}

.menu-sheet {
  float: left;
  width: 30%;
  max-width: 360px;
  height: 100%;
  overflow: scroll;
  background-image: url(../img/menu_background.jpg);
  background-size: 100% 100%;
  color: #FFF;
}

.menu-sheet::-webkit-scrollbar {
  width: 0;
}

.list-sheet {
  float: left;
  width: 70%;
  max-width: 840px;
  height: 100%;
  overflow: scroll;
  box-shadow: 0 0 48px rgba(0, 0, 0, .25);
}

.view-sheet {
  float: left;
  width: auto;
  height: 100%;
  overflow: scroll;
}

.view-mode {
  padding-left: 50px;
}

.view-mode > .menu-sheet {
  width: 50px;
  margin-left: -50px;
}

.view-mode > .list-sheet {
  width: 35%;
}

.view-mode > .view-sheet {
  width: 65%;
}

.view-mode > .view-sheet > .top-bar {
  display: block;
  width: 100%;
}

.view-mode > .menu-sheet > .user-info {
  height: 0;
}

.view-mode > .menu-sheet > .udn-logo {
  height: 0;
}

.view-mode > .menu-sheet .menu-term {
  color: transparent;
}

.view-mode > .menu-sheet > .menu-section:after {
  width: inherit;
}

/* view-mode 切換動畫 */
.menu-sheet,
.list-sheet,
.view-sheet,
.user-info,
.udn-logo,
.menu-term
{
  -webkit-transition-property: width, height, color;
  -webkit-transition-duration: .5s;
  transition-property: width, height, color;
  transition-duration: .5s;
}

.user-info {
  font-size: 14px;
  margin: 8px 10%;
  overflow: hidden;
}

.trismall {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #FFF transparent transparent transparent;
  margin: 1px 4px;
}

.udn-logo {
  width: 100px;
  height: 100px;

  background-image: url(../img/Logo_udn.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  -webkit-filter: drop-shadow(0px 2px 12px rgba(255,255,255,.3));
  filter: drop-shadow(0px 2px 12px rgba(255,255,255,.3));
}

.menu-section:after {
  content: " ";
  display: block;
  width: 80%;
  height: 2px;
  margin: 9px auto;
  background: rgba(255, 255, 255, .2);
}

.menu-section:last-of-type:after {
  background: transparent;
}

.menu-term {
  display: block;
  width: 80%;
  height: 44px;
  padding: 8px 10%;
  color: inherit;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.menu-term > .count {
  float: right;
  position: relative;
  top: 12px;
  font-size: 17px;
}

.icon24 {
  display: inline-block;
}

.icon24::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 4px;
  opacity: .75;
}

.menu-term:hover {
  background: linear-gradient(90deg, rgba(17,130,155,.15) 0%, rgba(17,130,155,.75) 50%, rgba(17,130,155,.15) 100%);
}
.menu-term:hover > .icon24 {
  text-shadow: 1px 2px 4px rgba(0,0,0,.5);
}
.menu-term:hover > .icon24::before {
  opacity: 1;
  -webkit-filter: drop-shadow(1px 2px 4px rgba(0,0,0,.5));
  filter: drop-shadow(1px 2px 4px rgba(0,0,0,.5));
}

.view-sheet > .top-bar {
  display: none;
}

.top-bar {
  /*position: fixed;*/
  position: absolute;
  width: inherit;
  max-width: inherit;
  height: 46px;
  top: 0;
  left: none;
  background: rgba(236, 236, 236, .9);
  border-bottom: 2px solid rgba(18, 130, 155, .5);
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
}

.top-bar:nth-of-type(odd) {
  border-left: 2px solid #D8D8D8;
}

.top-bar > .icon24 {
  height: 46px;
  padding: 0 14px 0 6px;
  color: #12829B;
  cursor: pointer;
}

.top-bar > .icon24:hover {
  background: #FFF;
}

.top-bar > .icon24::before {
  line-height: 44px;
  top: 6px;
  margin: 0 8px;
  opacity: 1;
}

.menu-term > .icon24::before {
  margin: 5px 16px 5px 8px;
}

.ts-action > .icon24::before {
  margin: 6px 10px;
}

.ic-newcreate::before {
  content: url(../img/icons/newcreate.svg);
}
.ic-personal::before {
  content: url(../img/icons/personal.svg);
}
.ic-group::before {
  content: url(../img/icons/group.svg);
}
.ic-star::before {
  content: url(../img/icons/star.svg);
}
.ic-star_b::before {
  content: url(../img/icons/star_b.svg);
}
.ic-draft::before {
  content: url(../img/icons/draft.svg);
}
.ic-archive::before {
  content: url(../img/icons/archive.svg);
}
.ic-category::before {
  content: url(../img/icons/category.svg);
}
.ic-structure::before {
  content: url(../img/icons/structure.svg);
}
.ic-flight::before {
  content: url(../img/icons/flight.svg);
}
.ic-prepublish::before {
  content: url(../img/icons/prepublish.svg);
}
.ic-published::before {
  content: url(../img/icons/published.svg);
}
.ic-setting::before {
  content: url(../img/icons/setting.svg);
}
.ic-logout::before {
  content: url(../img/icons/logout.svg);
}
.ic-edit::before {
  content: url(../img/icons/edit.svg);
}
.ic-edit_b::before {
  content: url(../img/icons/edit_b.svg);
}
.ic-send::before {
  content: url(../img/icons/send.svg);
}
.ic-send_b::before {
  content: url(../img/icons/send_b.svg);
}
.ic-search::before {
  content: url(../img/icons/search.svg);
}
.ic-date::before {
  content: url(../img/icons/date.svg);
}
.ic-tagn::before {
  content: url(../img/icons/tagn.svg);
}
.ic-tagm::before {
  content: url(../img/icons/tagm.svg);
}
.ic-menu::before {
  content: url(../img/icons/menu.svg);
}
.ic-close::before {
  content: url(../img/icons/close.svg);
}



.teaser-list {
  margin-top: 48px;
}

.date-spliter {
  width: 100%;
  height: 20px;
  background: #E0E0E0;
  color: #777;
  line-height: 20px;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.teaser {
  /*width: 100%;*/
  height: 120px;
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  display: flex;
}

.ts-thumb {
  width: 25%;
  max-width: 160px;
  margin: 0;
  overflow: hidden;
}

.ts-thumb > img {
  height: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ts-preview {
  flex: 1;
  min-width: 0;
  padding: 4px 8px;
}

.story-meta {
  display: block;
  height: 20px;
  margin: 0;
  font-size: 14px;
  color: #777;
}

.story-meta > span {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.story-meta > .byline {
  width: 40%;
}

.ts-preview > .headline {
  height: 26px;
  margin: 2px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}

.ts-preview > p {
  margin: 0;
  height: 62px;
  font-size: 14px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ts-action {
  width: 60px;
}

.ts-action > .round-btn {
  display: block;
  width: 44px;
  height: 44px;
  margin: 10px 12px 10px 4px;
  border-radius: 50%;
  background: linear-gradient(180deg, #F4F4F4 0%, #E8E8E8 100%);
  box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,.1);
}

.ts-action > .round-btn:last-of-type {
  margin-top: 12px;
}

.ts-action > .round-btn:hover {
  box-shadow: inset 0px -1px 8px 0px rgba(0,0,0,.1)
}

.menu-on, .menu-off {
  display: none;
}

.view-content {
  margin-top: 48px;
}


@media (max-width: 1200px) {
  .view-sheet {
    display: none;
  }
}

/* 列表右方功能鍵消失 */
@media (max-width: 899px) {
  .ts-action {
    display: none;
  }
  .story-meta > .byline {
    width: auto;
  }
  .story-meta > .created-time {
    float: right;
  }
}

/* 版面轉變為單一大欄，主選單向左滑出隱藏 */
@media (max-width: 779px) {
  .menu-sheet, .list-sheet {
    width: 100%;
    max-width: none;
    position: absolute;
    left: 0;
  }
  .menu-sheet {
    width: 360px;
    box-shadow: 0 0 48px rgba(0, 0, 0, .25);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 20;
  }
  .list-sheet {
    box-shadow: none;
  }
  .menu-on, .menu-off {
    display: inline-block;
  }
  .menu-off {
    position: absolute;
    top: 12px;
    right: 16px;
  }
  .off {
    left: -360px;
    box-shadow: none;
  }
  .list-sheet-cover {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 16;
    background: #808080;
    opacity: .75;
    transition: opacity .75s;
  }
  .cover-off {
    opacity: 0;
    pointer-events: none;
  }
  .ts-thumb {
    width: 30%;
  }
  .ts-action {
    display: block;
  }
  .story-meta > .byline {
    width: 40%;
  }
  .story-meta > .created-time {
    float: none;
  }

}

/* 列表右方功能鍵消失 */
@media (max-width: 539px) {
  .ts-action {
    display: none;
  }
  .story-meta > .byline {
    width: auto;
  }
  .story-meta > .created-time {
    float: right;
  }
}


/* 隱藏列表搜尋功能文字 */
@media (max-width: 439px) {
  .menu-sheet {
    width: 100%;
  }
  .off {
    left: -100%;
  }
  .top-bar > .icon24 {
    width: 40px;
    overflow: hidden;
    color: transparent;
    padding-right: 6px;
  }
}
